#budget-container {
    display:inline-block;
    width:100%;
    
    background: rgba(238,239,239,1);
    height: 720px;
}

#budget-content-container {
    display: inline-block;
    margin-top:100px;
}

#budget-heading{
    margin-left:150px;
    margin-top: 150px;
    font-size:36px;
    font-family:Roboto;
    color: rgba(74,74,74,1);
    font-weight:400;
}

#budget-content {
    display:inline-block;
    margin-top : 20px;
    margin-left: 150px;
    font-size: 28px;
    font-family:Roboto;
    color: rgba(74,74,74,1);
    font-weight:300;
    
}

#budget-image{
    display:inline-block;
    width:400px;
    height:520px;
    background:url(../images/budget_group.png);
    background-size: contain;
    margin-top:50px;
    float: right;
    margin-right: 150px;
}
.projects-link-container{
    margin-left: 617px;
    margin-top: 250px;
    float:inherit;
    font-family: Roboto;
    font-size: 28px;
    text-decoration: underline;
    color: rgba(74,74,74,1);
    cursor: pointer;
    
}

.CTA-button3{
    display:inline-block;
    background: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
    border:1px solid #4A4A4A;
    border-radius: 4px;
    font-family: Roboto;
    font-weight: 500;
    color: #4A4A4A;
    margin-top:30px;
    margin-left:165px;
    text-decoration: none;
}

   
