#social-inbox-container {
    display:inline-block;
    width:100%;
    margin-top:120px;
    
    background: linear-gradient(to bottom right, rgba(255,87,157,1), 
        rgba(255,0,66,1));
    height: 614px;
}

#social-inbox-content-container {
    display: inline-block;
    margin-top:100px;
}

#social-inbox-heading{
    margin-left:150px;
    margin-top: 150px;
    font-size:36px;
    font-family:Roboto;
    color:white;
    font-weight:500;
}

#social-inbox-content {
    display:inline-block;
    margin-top : 20px;
    margin-left: 150px;
    font-size: 28px;
    font-family:Roboto;
    color: white;
    
}

#social-inbox-image{
    display:inline-block;
    width:722px;
    height:414px;
    background:url(../images/vt_social_inbox-v2.1.png);
    background-size: contain;
    margin-top:100px;
    float: right;
    margin-right: 126px;
}